.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* univeral */
body {
  background-color: #384a72;
  color: #d1e0fd;
}

/* headers */
h1 {
  color: #97afdb;
}

h2 {
  color: #97afdb;
}

/* nabar */
.navbar {
  background-color: #d1e0fd;
  color: #384a72;
  padding-left: 20px;
}

/* footer */
.footer {
  justify-content: center;
  align-content: center;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 30px;
  padding-bottom:60px;
}

/* footer imgs */
.imgClick:hover{
  opacity: 0.5;
}

/* home pg */
.row {
  justify-content: center;
  align-items: center;

}

/* cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  flex: 0 0 200px;
  margin: 10px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  display: inline-flex;

} 
.card img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}

.card-img:hover {
  opacity: 0.5;
}

/* CSS */
.btn {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btn:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}